
.contenedor-principal{
    display: flex;
    flex-direction: row;
    max-height: 80%;
    
    flex: 0 1 0;

    }



.contenedor-lista-parcelas{
    flex-direction: row;
    width: 40%;
    margin: 2rem;
}

.contenedor-lista-parcelas-responsive{
    display:none;
}


.lista-parcelas-titulo{
    background-color: rgb(57, 152, 116);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
    border-radius: 5px;
    width: 100%
}

.lista-parcelas{
    width: 100%;
    /*background-color: rgba(57, 152, 116,0.1);*/
    height: 90%;
    padding:5px;
    padding-left: 10px;
    
}

.lista-elemento-head{
    
    display: flex;
    padding: 5px;
    background-color: rgb(7, 142, 131);
    color:white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    
    justify-content: center;
    margin-top: 1rem;
    
    cursor: pointer;
    
}

.lista-elemento-head:nth-child(1){
    margin: 0px;
}



.lista-elemento{
    display: flex;
    padding: 5px;
    background-color: rgba(57, 152, 116,0.3);
    
    margin:5px;
    justify-content: center;
    cursor: pointer;
    
    
    
}


.lista-elemento:hover{
    background-color: rgba(124, 4, 30,0.9);
    color:white;
}


.lista-elemento-selected{
    background-color: rgb(71, 25, 25);
    color:white;
}


.lista-elemento-no-seleccionable{
    
    display: flex;
    padding: 5px;
        
    margin:5px;
    justify-content: center;
}



.lista-contenedores-porFinca {
    display: flex;
    flex-direction: column;
 }



.contenedor-mapa{
    flex-direction: row;
    width: 60%;
    margin: 2rem;
}

.map {
 height: 100%;
 width: 100%;
 }




/* Responsive Queries */
@media (max-width: 650px) {
    
    .contenedor-lista-parcelas{
        display: none;
    }
    
    .contenedor-lista-parcelas-responsive{
        margin: 0px;
        padding: 0;
        width: 80%;        
        margin: 1rem;
        align-self: center;
        
        flex-direction: column;
    }
 
    
    
      .contenedor-principal {
        flex-direction: column;
      }

      .lista-parcelas-titulo{
        margin: 0;
        padding: 10px;
        align-self: center;
    }

      .lista-parcelas{
        padding-left: 5px;
        min-height:30%;
        align-self: center;
        margin-left: 0px;
         
    }


     .contenedor-mapa{
        flex-direction: row;
        width: 80%;
        height: 70%;
        margin: 1rem;
        margin-top: 5rem;
        align-self: center;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .lista-parcelas-titulo{
        font-size: 16px;
        padding: 5px;
    }

    
     .contenedor-lista-parcelas-responsive{
         display: block;
    }
    
}


